version: "3.8"

services:
  nginx:
    image: nginx:alpine
    container_name: vuln_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build: ./docker/php
    container_name: vuln_php
    volumes:
      - ./src:/var/www/html